<!DOCTYPE html>
<html  lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/member.css}" rel="stylesheet">
  <title>会員登録</title>
	 
</head>
<body>
	

<div class="form-wrapper">
	<form  method ="post" action="/member" th:object = "${memberform}">
	 <h1>Create an account</h1>
		 <div class="form-item">
			 <label for="name" >Name</label><input type="text" name="name"th:value="*{name}" placeholder="Your Name">
		 </div>
		 <div class="form-item">
			 <label for="email">Email Address</label>
			 <input type="email" name="mail" required="required"  th:value="*{mail}" placeholder="Email Address">
		 </div>
		 <div class="form-item">
			 <label for="password">password</label>
			 <input type="password" name="password" required="required" th:value="*{password}" placeholder="Password"></input>
		 </div>
		 <div class="button-panel">
			 <input type="submit"  class="button" title="Sign In" value="Enter"></input>
		 </div>
	 </form>
</div>
<div class="form-footer">
	
</div>

	<table>
		 <tr><th>ユーザー名</th><th>メールアドレス</th><th>パスワード</th></tr>
		 <tr th:each="client: ${client}">
			 <td th:text="${client.id}"></td>
			 <td th:text="${client.name}"></td>
			 <td th:text="${client.mail}"></td>
			 <td th:text="${client.password}"></td>
		 </tr>
		 
		 
	 </table> 
	 
</body>
</html>