<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー登録</title>
</head>
<body>
  <form method="post" action="#" th:action="@{/user}" th:object="${formModel}">
    <h1>新規ユーザー登録</h1>
    <label>名前</label ><input type="text" name="name" >
    <!-- <P th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></P>  -->
    <label>メール</label ><input type="text" name="mail">
    <label>パスワード</label ><input type="password" name="pass" >
    <label>年齢</label><input type="number" name="age" >
    <!-- <P th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></P>  -->
 	<input type="submit" value="登録">
  </form>
  <h1>顧客リスト</h1>
  <table>
    <tr><th>登録者番号</th><th>名前</th><th>メールアドレス</th><th>パスワード</th><th>年齢</th></tr>
    <tr th:each="c : ${customers}">
      <td th:text="${c.id}"></td>
      <td th:text="${c.name}"></td>
      <td th:text="${c.mail}"></td>
      <td th:text="${c.pass}"></td>
      <td th:text="${c.age}"></td>
    </tr>
  </table>
  
</body>
</html>